<%- include('header') -%>

<div class="KW_progressContainer">
    <div class="KW_progressBar"></div>
</div>
<div class="page">
    <div id="colorlib-page">
        <div class="container mt-5">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span>GOGO</span>
                    <h2>GADGET</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="comment-form-wrap pt-5">
                        <div id="chessboard" class="chessboard" style="display: none;"></div>
                        <form id="create_game">
                            <div class="form-group">
                                <input type="text" placeholder="Username" name="username" class="form-control" id="username">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Game code" name="code" class="form-control" id="code">
                            </div>
                            <div class="form-group">
                                <input type="submit" id="create_game_button" value="Create a game" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
<%- include('footer') -%>